li
{
    list-style-type: none;
    color: black;
}

.header
{
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(to right, #f0f8ff, #d6ebff); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 250;
}

.header li a
{
    text-decoration: none;
    color: black;
}

.header li a:hover
{
    color: rgb(42,127,245);
}