{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% 'static/home/style.css' %}">
  
</head>
<body>
    <div class="container">
        
   
    <form class="form" method="post" action="save_customer/"> 
        {% csrf_token %}
        <div class="brand-logo" style="margin-top: 10px;">
            <div class="brand-background"></div>
        </div>
        <div class="brand-title">BUSSER</div>
        <div class="inputs">
        <label>FIRST NAME</label>
        <input type="text" class="user-form" placeholder="John" name="first_name" required>
        <label>LAST NAM</label>
        <input type="text" class="user-form" placeholder="Doe" name="last_name" required>
        
        <label>AGE</label>
        <input type="number" class="user-form" placeholder="19" name="age" required>
        
        <label>PASSWORD </label>
        <input type="password" class="user-form" placeholder="Axch8an@8#S" name="password" required>
        
    </div>
        <button type="submit" id="sub" style="margin-top: 10px;">login</button>
    </form>
</div>
</body>
</html>
