<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> buser </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/form.css">
    <link rel="stylesheet" href="static/header.css">
</head>
<body>
   <div class="header">

    
        <li class="home">
            <a href="#">
                Home
            </a>
        </li>
        <li class="journey">
            <a href="#">
                journey
            </a>
        </li>
    

    
        <li class="book-bus">
            <a href="book_bus/">
                Book a Bus
            </a>           
        </li>

        <li class="booking-status">

            <a href="#">
                status
            </a>
        </li>
    
        
        <li class="update">
            <a href="#">
                updates
            </a>
            
        </li>


        <li class="new">
            <a href="#">
                new
            </a>
        </li>


       

        <li class="faqs">
            <a href="#">
                use as provider
            </a>
        </li>
   

</div>

 <div class="form-container">
    
    <form method="post" onsubmit="validateForm(); return false;">
        {% csrf_token %}
        <div class="signup-label"> <h3> Sign-up </h3></div>


        <label for="username">
            username
            <i class="fas fa-user icon-inside-input">
            </i>
        </label>
        
        <input type="text" class="signup-input" id="username" name="username" placeholder="choose a username" >
        <div class="error" id="username-len-error">username is too large or too small</div>


        <label for="age">
            age
            <i class="fas fa-calendar icon-inside-input">
            </i>
        </label>
        <input type="number" class="signup-input" name="age" id="age" placeholder="Enter age">
        <div class="error" id="age-error">age is less than 13 year</div>


        <label for="password">
            password
            <i class="fas fa-lock icon-inside-input">

            </i>
            password
        </label>
        <input type="password" class="signup-input" id="password" name="password" placeholder="Enter password" >
        <div class="error" id="password-error">this field can't be empty</div>



        <label for="confirm-password" >
             priyansh
             <i class="fas fa-lock icon-inside-input"></i>
             
            </label>
        <input type="password" class="signup-input" id="confirm-password" name="confirm-password" placeholder="confirm password">
        <div class="error" id="confirm-password-error">password should match</div>

        <button type="submit" class="signup-btn"> sign up </button>
    </form>
 </div>

 <script src="static/form.js">
 </script>
</body>
</html>