<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" href="static/style.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <div class="nav-container">
    <nav class="navbar">
      <ul>
       
        <li>
            <a href="#">
                <i class="fas fa-home"></i> 
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-info-circle"></i> 
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cogs"></i> 
            </a>
        </li>
       
        <li>
            <a href="#">
                <i class="fas fa-envelope"></i> 
            </a>
        </li>
    </ul>
    </nav>
    </div>
    <div class="form-body">
    <div class="container">
        <form class="form" method="post" action="save_customer/"> 
        {% csrf_token %}
        <div class="brand-logo" style="margin-top: 10px;">
          <div class="brand-background">BUSSER</div>
        </div>
        
        <div class="inputs">
        <label>FIRST NAME</label>
        <input type="text" class="user-form" placeholder="John" name="first_name" required>
        <label>LAST NAME</label>
        <input type="text" class="user-form" placeholder="Doe" name="last_name" required>
        
        <label>AGE</label>
        <input type="number" class="user-form" placeholder="19" name="age" required>
        
        <label>PASSWORD </label>
        <input type="password" class="user-form" placeholder="Axch8an@8#S" name="password" required>
        
    </div>
        <button type="submit" id="sub" style="margin-top: 10px;">login</button>
    </form>
</div>
</div>
</body>
</html>
